:root {
  --colour-light: #ffffff;
  --colour-dark: #000000;
}


a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent
}

body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
  text-transform: uppercase
}

a {
  color: white;
  text-decoration: none;
  font-weight: 500;
} 

/*App Aside */

.app-aside,
.app-header {
  z-index: 99;
  margin: auto;
  position: fixed;
  white-space: nowrap;

}

.app-aside ul li,
.app-header,
.app-main span {
  font-weight: 500;
  font-size: 16px;
}

.is-loading {
  cursor: wait
}

.is-black,
.is-white .app-aside ul li:before {
  background: var(--colour-dark);
}

.is-black,
.is-black .app-intro h1,
.is-black a {
  color: var(--colour-light);
}

.is-black .app-aside ul li:before {
  background: var(--colour-light);
}
/* 
.app-header {
  top: 150px;
  left: 65px;
  transform: rotate(-90deg);
  transform-origin: bottom left
} */ 

@media only screen and (max-width: 451px) {
  .app-header {
    top: 130px;
    left: auto;
    right: 35px;
    transform: rotate(90deg);
    transform-origin: top right
  }
}

.app-aside {
  left: 65px;
  bottom: 60px;
  transform: rotate(-90deg);
  transform-origin: bottom left
}

.app-aside ul {
  list-style: none
}

.app-aside ul li {
  float: left;
  position: relative;
  margin-right: 30px
}

.app-aside ul li:before {
  z-index: -1;
  content: "";
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .2s ease-out;
  position: absolute;
  bottom: -1px;
  left: 0
}

.app-aside ul li:hover:before {
  transform: scaleX(1);
  transform-origin: left
}

@media only screen and (max-width: 451px) {
  .app-aside {
    left: auto;
    right: 35px;
    bottom: 30px;
    transform: rotate(90deg);
    transform-origin: top right
  }

  .app-aside ul li {
    font-size: 9px;
    margin-right: 0;
    margin-left: 30px
  }
}

.is-mobile .app-main {
  position: relative
}


.main-footer {
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase
}
p {
  line-height: 25px;
}



@media only screen and (max-width: 451px) {
  .app-main {
    padding: 60px 60px 60px 60px
  }
}

.app-main .main-intro,
.app-main .main-section {
  display: block;
  position: relative;
  padding-bottom: 0px
}

@media only screen and (max-width: 451px) {

  .app-main .main-intro,
  .app-main .main-section {
    padding-bottom: 0px
  }
}

.app-main .main-intro:last-of-type,
.app-main .main-section:last-of-type {
  padding-bottom: 0
}

 /* .app-main .main-section {
padding-bottom: 120px 
}*/

@media only screen and (max-width: 451px) {
  .app-main .main-section {
    padding-bottom: 60px
  }
}

.app-main span {
  display: block;
  /* padding-bottom: 30px */
}

.app-main h2 {
  font-weight: 500;
  font-size: 60px;
  max-width: 960px;
  line-height: 125%
}

@media only screen and (max-width: 451px) {
  .app-main h2 {
    font-size: 35px
  }
}

.app-main li,
.app-main p {
  opacity: .6;
  font-size: 18px;
  max-width: 420px;
  list-style: none;
  line-height: 150%;
  padding-bottom: 20px
}

.app-main li small,
.app-main p small {
  font-size: 11px
}

.app-main li,
.app-main li:last-of-type,
.app-main p:last-of-type {
  padding-bottom: 0
}

.highlight {
  opacity: 1 !important;
  text-decoration: underline;
}

/*Main Section */


.app-main {
  text-align: center;
  position: relative;
  padding: 240px 120px;
  transition: all .5s cubic-bezier(.2,.84,.5,1);
  transform-origin: 0 0;
  transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000

.main-section, .main-intro {
  display: block;
  position: relative;
  padding-bottom: 20px;
  padding-top: 20px;
}

/*.main-section {
  padding-bottom: 40px;
} */

.main-section span {
  text-transform: uppercase;
}

.main-footer {
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase
}

p {
  line-height: 25px;
}



/* Animation */

.fadein-1 {
  opacity: 0;
  animation: .8s fadein-1 0.3s forwards;
}

.fadein-2 {
  opacity: 0;
  animation: .8s fadein-2 .6s forwards;
}

.fadein-3 {
  opacity: 0;
  animation: .8s fadein-3 .9s forwards;
}

@media only screen and (max-width: 451px) {
  .app-main {
      padding-top: 30vh;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
  }
}

@keyframes fadein-1 {
  100% {
      opacity: 1;
  }
}

@keyframes fadein-2 {
  100% {
      opacity: 1;
  }
}

@keyframes fadein-3 {
  100% {
      opacity: 1;
  }
}